# Boron Compiler
# Copyright (C) 2026 Samuel Little

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# See <LICENSE> for details.

BasedOnStyle: LLVM

IndentWidth: 8
TabWidth: 2
UseTab: Never

BreakBeforeBraces: Attach

ColumnLimit: 200
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes

BreakConstructorInitializers: BeforeComma

IndentCaseLabels: true
MaxEmptyLinesToKeep: 1

BinPackArguments: false
BinPackParameters: false

PointerAlignment: Left

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true